@model ProductDetailsViewModel 

@{
    ViewData["Title"] = "Details";
}



<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>@Model.Product.Name</h1>
                    <p>See more Details</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img id="main-image" src="data:image;base64,@System.Convert.ToBase64String(Model.Photos[0].Picture)" alt="">
                </div>
                <br>
                <div class="d-flex justify-content-center mb-3 single-product-img">
                    @foreach (var item in Model.Photos)
                    {
                        <a class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image">
                            <img onclick="updateMainImage(this)" width="60" height="60" class="rounded-2" src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" />
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>@Model.Product.Description</h3>
                    <p class="single-product-pricing"><span>Per Kg</span> @Model.Product.Price лв.</p>
                    <p>@Html.Raw(Model.Product.LongDescription)</p>
                    <div class="product-quantity cart-item">
                        @if (Model.Product.StockQuantity <= 0)
                        {
                            <p>Out of Stock</p>
                        }
                        else
                        {
                            <a data-id="@Model.Product.Id" data-image="@Model.Product.Image" data-name="@Model.Product.Name" data-price="@Model.Product.Price" class="add-to-cart cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        }
                        <p>
                            <strong>Categories: </strong>
                            @foreach (var cat in Model.ProductCategories)
                            {
                               <span>@cat.Name</span>
                            }
                       </p>
                    </div>
                    <h4>Share:</h4>
                    <ul class="product-share">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->
<!-- more products -->
<div class="more-products mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Related</span> Products</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach(var product in Model.RelatedProducts)
            {
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a asp-area="" asp-action="Details" asp-controller="Product" asp-route-id="@product.Id"><img src="data:image;base64,@System.Convert.ToBase64String(product.Image)" alt=""></a>
                        </div>
                        <h3>@product.Name</h3>
                        <p class="product-price"><span>Per Kg</span> @product.Price$ </p>
                        @if (product.StockQuantity <= 0)
                        {
                            <p>Out of Stock</p>
                        }
                        else
                        {
                            <a data-id="@product.Id" data-image="@product.Image" data-name="@product.Name" data-price="@product.Price" class="add-to-cart cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            
                        }

                    </div>
                </div>
            }
            
          
        </div>
    </div>
</div>
<!-- end more products -->

    @* <script>
        var cartUrl = '@Url.Action("Index", "Cart")';
        redirectToCart(cartUrl);
    </script> *@
<script>
    function updateMainImage(clickedImage) {
        var mainImage = document.getElementById('main-image');
        var mainImageLink = document.getElementById('main-image-link');
        mainImage.src = clickedImage.src;
        mainImageLink.href = clickedImage.src; // Update lightbox href if needed
    }
</script>
    

    


