@model ProductDetailsViewModel 

@{
    ViewData["Title"] = "Details";
}


</header>

<!-- content -->
<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                          
                        <img id="main-image" style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="data:image;base64,@System.Convert.ToBase64String(Model.Photos[0].Picture)" />
                    
                </div>
                <div class="d-flex justify-content-center mb-3">
                    @foreach (var item in Model.Photos)
                    {
                        <a class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image">
                            <img onclick="updateMainImage(this)" width="60" height="60" class="rounded-2" src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" />
                        </a>
                    }
                </div>
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        @Model.Product.Name <br />
                        
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">$@Model.Product.Price</span>
                        <span class="text-muted">/per (messure unit)</span>
                    </div>

                    <p>
                       @Model.Product.Description
                    </p>

                    <card class="row">
                        <dt class="col-3">Category:</dt>
                        <dd class="col-9">@Model.Product.Category.Name</dd>

                        <dt class="col-3">Brand:</dt>
                        <dd class="col-9">@Model.Product.Brand.Name</dd>
                    </card>

                    <hr />

                    
                        
                </div>

                            <a data-id="@Model.Product.Id" data-name="@Model.Product.Name" data-price="@Model.Product.Price" class="btn buy-it-now btn-warning  shadow-0"> Buy now </a>
                            <a data-id="@Model.Product.Id"  data-name="@Model.Product.Name" data-price="@Model.Product.Price" class="btn btn-primary add-to-cart shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
                    <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->

<section class="bg-light border-top py-4">
    <div class="container">
        <div class="row gx-4">
            <div class="col-lg-8 mb-4">
                <div class="border rounded-2 px-3 py-2 bg-white">
                    <!-- Pills navs -->
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Specification</a>
                        </li>
                        
                    </ul>
                    <!-- Pills navs -->
                    <!-- Pills content -->
                    <div class="tab-content" id="ex1-content">
                        <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                            <p>
                                With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                            </p>
                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Duis aute irure dolor in reprehenderit</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Optical heart sensor</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 mb-0">
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-check text-success me-2"></i>Easy fast and ver good</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Modern style and design</li>
                                    </ul>
                                </div>
                            </div>
                            <table class="table border mt-3 mb-2">
                                <tr>
                                    <th class="py-2">Feature :</th>
                                    <td class="py-2"></td>
                                </tr>
                                <tr>
                                    <th class="py-2">Feature 1</th>
                                    <td class="py-2"></td>
                                </tr>
                                <tr>
                                    <th class="py-2">Feature 2</th>
                                    <td class="py-2"></td>
                                </tr>
                                <tr>
                                    <th class="py-2">Feature 3</th>
                                    <td class="py-2"></td>
                                </tr>
                                <tr>
                                    <th class="py-2">Feature 4</th>
                                    <td class="py-2"></td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                    <!-- Pills content -->
                </div>
            </div>
            <div class="col-lg-4">
               <partial name="_SimilarItemsPartial", model="@Model.RelatedProducts" />
            </div>
        </div>
    </div>
</section>


    <script>
        var cartUrl = '@Url.Action("Index", "Cart")';
        redirectToCart(cartUrl);
    </script>
<script>
    function updateMainImage(clickedImage) {
        var mainImage = document.getElementById('main-image');
        var mainImageLink = document.getElementById('main-image-link');
        mainImage.src = clickedImage.src;
        mainImageLink.href = clickedImage.src; // Update lightbox href if needed
    }
</script>
    

    


