@model ICollection<ProductAllViewModel>
@{
    ViewData["Title"] = "Home Page";
    var products = Model.ToList();
  
}

<partial name="_BreadcrumbPartial" view-data="ViewData" />


@if (!products.Any())
{
    <div class="mt-4 bg-light">
        <h1 class="display-4">Welcome to the best place for shopping products 1!</h1>
        <p class="lead">
            There are no products in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.IsInRole("Admin"))
            {
                <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="btn btn-primary btn-lg" role="button">Create the first Product</a>
            }
        </p>
    </div>
}

<div class=""></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" >
        @for (int i = 0; i < products.Count(); i++)
        {

            var product = products[i];

            var base64 = Convert.ToBase64String(product.Image);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


            <div class="carousel-item @(i == 0 ? "active" : string.Empty)" onclick="redirectToDetails('@product.Id')">
                <img class="d-block w-100" style="height:500px"
                     src="@imgSrc" alt="@product.Name">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        
                        <a asp-controller="Product" asp-action="Details"
                           asp-route-id="@product.Id" class="cart-btn"><i class="fas fa-shopping-cart"></i> @product.Name</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<script>
    function redirectToDetails(productId) {
        window.location.href = '@Url.Action("Details", "Product")?id=' + productId;
    }
</script>

