@model CartViewModel


@{
    ViewData["Title"] = "Cart";

    
}

<partial name="_BreadcrumbPartial" view-data="ViewData" />
<script type="text/javascript">
    var cartItems = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ShoppingCartItems));
   
   
</script>

<!-- cart -->
<div class="cart-section mt-150 mb-150 ">
    <div class="container ">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                                
                            </tr>
                        </thead>
                        <tbody >
                            @foreach (var item in Model.ShoppingCartItems)
                            {
                                <tr class="item-@item.ProductId">
                                    <td class="product-remove cart-item" >
                                        <a data-id="@item.Id" data-name="@item.Product.Name" class="delete-item"><i class="far fa-window-close"></i></a>
                                    </td>
                                    <td class="product-image"><img src="data:image;base64,@System.Convert.ToBase64String(item.Product.Image)" alt=""></td>
                                    <td class="product-name">@item.Product.Name</td>
                                    <td class="product-price">$@item.Product.Price</td>
                                    <td class="product-quantity cart-item">
                                        <input type="number" data-id="@item.ProductId" data-name="@item.Product.Name" value="@item.Quantity" min="1" id="quantity-input" class="item-count">
                                    </td>
                                    <td class="product-total"><span class="cart-item-price-@item.Product.Id"></span></td>
                                   
                                </tr>
                               
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @{
                decimal subtotal = 0;
                foreach (var item in Model.ShoppingCartItems)
                {
                    subtotal += item.Product.Price * item.Quantity;
                }
            }
            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                                <td>$<span class="total-cart"></span></td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Shipping: </strong></td>
                                <td>$<span id="shippingPrice" name="shippingPrice"></span></td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>$<span id="totalPrice" class="total-cart"></span> </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="cart-buttons">
                        <a class="boxed-btn clear-cart-clear">Clear Cart</a>
                        <a href="Cart/Checkout" class="boxed-btn black checkout">Check Out</a>
                    </div>
                    <br />
                    <div>
                        <a href="@Url.Action("All", "Product")" class="boxed-btn">Continue Shopping</a>

                    </div>
                   
                    <br />
                   
                </div>
                <div class="container mt-5">
                    <h2 class="text-center">Информация за доставка</h2>
                    <form id="shipmentForm">
                        <div class="form-group">
                            <label for="paymentMethod">Payment Method:</label>
                            <select class="form-control" id="paymentMethod" name="paymentMethod">
                                <option value="card">Pay with Card</option>
                                <option value="delivery">Pay on Delivery</option>
                                <option value="pickup">Take from Place</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="shippingMethod">Shipping Method:</label>
                            <select class="form-control" id="shippingMethod" name="shippingMethod">
                                <option value="econt">Еконт</option>
                                <option value="pickup">вземи от място</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="receiverName">Name:</label>
                            <input type="text" class="form-control" id="receiverName" name="receiverName">
                        </div>
                        <div class="form-group">
                            <label for="receiverPhone">Phone:</label>
                            <input type="text" class="form-control" id="receiverPhone" name="receiverPhone">
                        </div>
                        <div class="form-group" id="receiverCityGroup">
                            <label for="receiverCity">City:</label>
                            <input type="text" class="form-control" id="receiverCity" name="receiverCity">
                        </div>
                        <div class="form-group" id="receiverPostCodeGroup">
                            <label for="receiverPostCode">Post Code:</label>
                            <input type="text" class="form-control" id="receiverPostCode" name="receiverPostCode">
                        </div>
                        <div class="form-group" id="receiverStreetGroup">
                            <label for="receiverStreet">Street:</label>
                            <input type="text" class="form-control" id="receiverStreet" name="receiverStreet">
                        </div>
                        <div class="form-group" id="receiverNumGroup">
                            <label for="receiverNum">Number:</label>
                            <input type="text" class="form-control" id="receiverNum" name="receiverNum">
                        </div>
                        <div class="form-group" id="receiverOtherGroup">
                            <label for="receiverOther">Other:</label>
                            <input type="text" class="form-control" id="receiverOther" name="receiverOther">
                        </div>
                        
                    </form>
                </div>
                <div class="coupon-section">
                    <h3>Apply Coupon</h3>
                    <div class="coupon-form-wrap">
                        <form action="index.html">
                            <p><input type="text" placeholder="Coupon"></p>
                            <p><input type="submit" value="Apply"></p>
                        </form>
                    </div>
                </div>
               









            </div>
        </div>
    </div>
    

</div>
<!-- end cart -->

<section>
    
   
</section>


<script>
    function redirectToDetails(productId) {
        window.location.href = '@Url.Action("Details", "Product")?id=' + productId;
    }
</script>
